apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx
spec:
  ingressClassName: traefik
  rules:
    - host: nginx.rlcstatistics.net
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: dev-svc-3
                port:
                  number: 80
